<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan([%d{HH:mm:ss}]) %blue((%logger{36}\)) [%thread/%replace(%replace(%replace(%level){'INFO','INFO'}){'DEBUG','DEBUG'}){'TRACE','TRACE'}]: %highlight(%msg)\n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>